Package          Version  
---------------- ---------
alpaca-trade-api 0.52.0   
certifi          2020.12.5
chardet          4.0.0    
click            7.1.2    
Flask            1.1.2    
idna             2.10     
itsdangerous     1.1.0    
Jinja2           2.11.2   
MarkupSafe       1.1.1    
numpy            1.19.5   
pandas           1.2.1    
pip              20.0.2   
pkg-resources    0.0.0    
python-dateutil  2.8.1    
pytz             2020.5   
requests         2.25.1   
setuptools       44.0.0   
six              1.15.0   
urllib3          1.26.2   
uWSGI            2.0.19.1 
websocket-client 0.57.0   
websockets       8.1      
Werkzeug         1.0.1    
wheel            0.36.2   
