{% extends 'base.html' %}

{% block content %}

<h2 class="container"> Sources used for making this Web Application </h2>
<div class="container">
<div class="w3-card-4">
<table class="u-full-width">
<thead>
<tr>
	<th>Topic</th>
	<th>Source</th>
</tr>
</thead>
<tbody>
<tr>
	<td>Javascript</td>
	<td><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">MDN</td>
</tr>
<tr>
	<td>HTML, CSS</td>
	<td><a href="https://www.w3schools.com/html/" target="_blank">w3schools</td>
</tr>

<tr>
        <td>Linux, Nginx, uWSGI, Flask Stack</td>
        <td><a href="https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-uswgi-and-nginx-on-ubuntu-18-04" target="_blank">DigitalOcean</td>
</tr>

<tr>
        <td>Flask Mega Tutorial</td>
        <td><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world" target="_blank">Miguel Grinberg Blog</td>
</tr>

<tr>
        <td>CSS Boilerplate</td>
        <td><a href="http://www.getskeleton.com/" target="_blank">Skeleton</td>
</tr>

</tbody>
</div>
</div>



{% endblock %}
